- Whatsapp integration
- Filtrado por categorias
- Push notification integration
- searchbar
- landing de servicios de maquinas
- si es nuevo o no
- ponerle un stock
- ponerle imagenes para mostrar
